#root {
  margin: 0 auto;
  text-align: center;
}

body{
  background-color: #F6F8FA ;
}

p,div{
  color:#4B5563
}

.tab-content,.none-scroll {
  overflow-y: scroll;
  scrollbar-width: none;
}

.tab-content::-webkit-scrollbar,.none-scroll::-webkit-scrollbar {
  display: none;
}

.checkbox-custom {
  appearance: none; /* إزالة الشكل الافتراضي للـ checkbox */
  width: 15px; /* تحديد عرض الـ checkbox */
  height: 15px; /* تحديد ارتفاع الـ checkbox */
  border: 2px solid #ccc; /* تحديد لون الحدود */
  border-radius: 4px; /* إضافة حواف دائرية */
  background-color: #fff; /* لون الخلفية للـ checkbox */
  position: relative; /* لجعل العنصر يحتوي على المحتويات بشكل صحيح */
  cursor: pointer; /* تغيير شكل المؤشر عند التمرير فوق الـ checkbox */
  transition: all 0.3s ease; /* إضافة تأثيرات عند التغيير */
}

/* عندما يكون الـ checkbox محددًا */
.checkbox-custom:checked {
  background-color: #3b82f6; /* لون الخلفية عند التحديد */
  border-color: #3b82f6; /* تغيير لون الحدود عند التحديد */
}

/* إضافة علامة check داخل الـ checkbox */
.checkbox-custom:checked::before {
  content: ''; /* لا شيء في البداية */
  position: absolute;
  top: 1px;
  left: 3px;
  width: 6px;
  height: 9px;
  border: solid white; /* لون الخط */
  border-width: 0 3px 3px 0; /* تحديد شكل الـ check */
  transform: rotate(45deg); /* تدوير الخط ليظهر كـ check */

}
